body{
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	background-color: whitesmoke;
	height: 100vh;
}

/*https://www.w3schools.com/howto/howto_js_sidenav.asp*/

.sidebar {
	width: 200px;
	height: 100vh;
	background-color: #333;
	color: whitesmoke;
	position: fixed;
	top: 0;
	left: -200px; /* Hide the sidebar */
	transition: left 0.5s;
}

.sidebar ul {
list-style-type: none;
padding: 0;
}

.sidebar ul li {
padding: 15px;
text-align: center;
}

.sidebar ul li a {
color: #fff;
text-decoration: none;
display: block;
}

.menu {
margin-left: 0;
padding: 20px;
transition: margin-left 0.3s ease;
width: 100%;
}

#menuToggle {
font-size: 18px;
cursor: pointer;
background-color: #1da6fc;
color: #fff;
border: none;
padding: 10px;
border-radius: 5px;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
margin-bottom: 20px;
}

#menuToggle:hover {
background-color: #0a95d9;
}

